.example-spacer {
    flex: 1 1 auto;
  }

  section {
    display: table;
  }
  
  .label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .button-row {
    display: flextable-cell;
    max-width: 600px;
  }
  
  .button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
    color: hsl(52, 96%, 48%)
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .button-milieu {
    display: flextable-cell;
    max-width: 600px;
  }
  
  .button-milieu .mat-mdc-button-base {
    margin: 8px 8px 15px 30px;
    color: #efd005
  }

  .logout {
    display: flex;
    justify-content: center;

  }

  .logout .mat-mdc-button-base {
    color: #efd005;
    align-items: center;
  }

  .logout1 {
    display: flex;
    justify-content: center;
  }

  .logout1 .mat-mdc-button-base {
    color: #efd005;
    scale: 0.8;
  }

  p{
    margin : 0;
  }