<div class="general">
    <div class="caract">
        <p>PV</p>
        <div class="specific">
            <p>{{vigor*20}}</p>
            <p>=></p>
            <p>{{vigorUpdate*20}}</p>
        </div>
    </div>
    <div class="caract">
        <p>PC</p>
        <div class="specific">
            <p>{{esprit*5}}</p>
            <p>=></p>
            <p>{{espritUpdate*5}}</p> 
        </div> 
    </div>
    <div class="caract">
        <p>Endurance</p>
        <div class="specific">
            <p>{{endurance*1.5}}</p>
            <p>=></p>
            <p>{{enduranceUpdate*1.5}}</p>
        </div>
    </div>
    <div class="caract">
        <p>Charge équipé maximum</p>
        <div class="specific">
            <p>{{endurance*1.2}}</p>
            <p>=></p>
            <p>{{enduranceUpdate*1.2}}</p>
        </div>
    </div>
    <div class="caract">
        <p>Arme droite</p>
        <div class="specific">
            <p>{{force}}</p>
            <p>=></p>
            <p>{{forceUpdate}}</p>
        </div>
    </div>
    <div class="caract">
        <p>Arme gauche</p>
        <div class="specific">
            <p>{{force}}</p>
            <p>=></p>
            <p>{{forceUpdate}}</p>
        </div>
    </div>
    <div class="caract">
        <p>Physique</p>
        <div class="specific">
            <p>X</p>
            <p>=></p>
            <p>Y</p>
        </div>
    </div>
    <div class="caract">
        <p>Frappe</p>
        <div class="specific">
            <p>X</p>
            <p>=></p>
            <p>Y</p>
        </div>
    </div>
    <div class="caract">
        <p>Taille</p>
        <div class="specific">
            <p>X</p>
            <p>=></p>
            <p>Y</p>
        </div>
    </div>
    <div class="caract">
        <p>Perçant</p>
        <div class="specific">
            <p>X</p>
            <p>=></p>
            <p>Y</p>
        </div>
    </div>
    <div class="caract">
        <p>Magie</p>
        <div class="specific">
            <p>X</p>
            <p>=></p>
            <p>Y</p>
        </div>
    </div>
    <div class="caract">
        <p>Feu</p>
        <div class="specific">
            <p>X</p>
            <p>=></p>
            <p>Y</p>
        </div>
    </div>
    <div class="caract">
        <p>Foudre</p>
        <div class="specific">
            <p>X</p>
            <p>=></p>
            <p>Y</p>
        </div> 
    </div>
    <div class="caract">
        <p>Sacré</p>
        <div class="specific">
            <p>X</p>
            <p>=></p>
            <p>Y</p>
        </div>
    </div>
    <div class="caract">
        <p>Immunité</p>
        <div class="specific">
            <p>X</p>
            <p>=></p>
            <p>Y</p>
        </div>
    </div>
    <div class="caract">
        <p>Robustesse</p>
        <div class="specific">
            <p>X</p>
            <p>=></p>
            <p>Y</p>
        </div> 
    </div>
    <div class="caract">
        <p>Focalisation</p>
        <div class="specific">
            <p>X</p>
            <p>=></p>
            <p>Y</p>
        </div>
    </div>
    <div class="caract">
        <p>Mort</p>
        <div class="specific">
            <p>X</p>
            <p>=></p>
            <p>Y</p>
        </div> 
    </div>
</div>
