<div class = barre_recherche>
    <mat-form-field hintLabel="Item's name">
      <mat-label>Enter some item's name</mat-label>
      <input matInput placeholder="ex : bloodhound's fang">
    </mat-form-field>
</div>
<div class = filtre_deroulant>
    <mat-form-field hintLabel="Item's type">
    <mat-label>choose item's type</mat-label>
    <mat-select placeholder="Click here" >
        <mat-option value="all"> All</mat-option>
        <mat-option value="weapon">Weapons</mat-option>
        <mat-option value="shield">Shields</mat-option>
        <mat-option value="armor">Armors</mat-option>
        <mat-option value="talisman">Talismans</mat-option>
    </mat-select>
    </mat-form-field>
  </div>
