.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

.example-form-fields {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.mat-select {
  border: 1px solid lightseagreen !important ;
  background: lightseagreen;
  height: 30px !important;
}

