
.example-form-fields {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.barre_recherche{
  margin: 8px 8px 8px 0;
  float: left;
}
.filtre_deroulant{
  margin: 8px 8px 8px 0;
  float: left;
}

.tableaux{
  float: down;
  opacity: 90%;
}

#total{ 
  background-image: url("/assets/fond_liste_item.jpeg"); 
  height: 1000px;
  background-size: 100%;
  overflow-x: hidden;
  background-repeat: repeat;
}
