<div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="email" [errorStateMatcher]="matcher" placeholder="Ex. pat@patrouille.com" required>
    @if (email.hasError('email') && !email.hasError('required')) {
      <mat-error>Entrer un mail valide</mat-error>
    }
    @if (email.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
    }
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input matInput placeholder="" type="password" required>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary">Log in</button>
    &nbsp;
    <button mat-raised-button color="primary">Sign up</button>
  </div>
</div>
