.card-personnage {
    max-width: 100%;
    max-height: 90%;
    margin-left: 15%;
    background-color: rgba(0, 0, 0, 0);
  }
  
  #box {
    fill: #ffffff00;
    stroke: white;
  }

  #ImageSilouhette {
    max-width: 60%;
    margin-left: 15%;
  }
