<mat-card class="card-personnage">
    <mat-card-header>
      <mat-card-title style="padding-left: 10cqmax; color: #efd005;">Votre personnage</mat-card-title>
    </mat-card-header>
    <mat-card-content>     
      <svg width="90%" height="51cqmax">                                 <!-- ça c'est pour dimensionner la zone dans laquelle va être le tout -->

        <image 
              xlink:href="/assets/silouhette.png" x="20%" y="5%"
              />                                                     <!-- ça c'est l'image de la silouhette -->

        <rect id="box" x="45%" y="0%" width="15%" height="7.3%"/>              <!-- ça c'est pour dimensionner et positionner le carré -->
        <svg width="15%" height="7.3%" x="45%">                           <!-- ça c'est pour dimensionner et positionner l'image dans le carré -->
          <defs>
            <clipPath id="boxclic1">
              <rect x="2%" y="2%" width="100%" height="100%"/>              <!-- ça c'est pour dimensionner et positionner la zone cliquable dans le carré -->
            </clipPath>
          </defs>
          <a href="url à mettre">                                  <!-- ça c'est pour choisir vers quel endroit ça envoie quand on clique dans le carré -->
            <image 
              xlink:href="/assets/Fond_accueil.png"
              clip-path="url(#boxclic1)"
              height="100%" width="99%"
              />                                                    <!-- ça c'est pour choisir l'image qui s'affiche dans le carré -->
          </a>
        </svg>
        

        <rect id="box" x="0%" y="10.9%" width="15%" height="7.3%"/>              <!-- ça c'est pour dimensionner et positionner le carré -->
        <svg width="15%" height="7.3%" x="0%" y="10.9%">                           <!-- ça c'est pour dimensionner et positionner l'image dans le carré -->
          <defs>
            <clipPath id="boxclic2">
              <rect x="2%" y="2%" width="100%" height="100%"/>              <!-- ça c'est pour dimensionner et positionner la zone cliquable dans le carré -->
            </clipPath>
          </defs>
          <a href="url à mettre">                                  <!-- ça c'est pour choisir vers quel endroit ça envoie quand on clique dans le carré -->
            <image 
              xlink:href="/assets/Fond_accueil.png"
              clip-path="url(#boxclic2)"
              height="100%" width="99%"
              />                                                    <!-- ça c'est pour choisir l'image qui s'affiche dans le carré -->
          </a>
        </svg>

        <rect id="box" x="0%" y="30%" width="15%" height="7.3%"/>              <!-- ça c'est pour dimensionner et positionner le carré -->
        <svg width="15%" height="7.3%" x="0%" y="30%">                           <!-- ça c'est pour dimensionner et positionner l'image dans le carré -->
          <defs>
            <clipPath id="boxclic3">
              <rect x="2%" y="2%" width="100%" height="100%"/>              <!-- ça c'est pour dimensionner et positionner la zone cliquable dans le carré -->
            </clipPath>
          </defs>
          <a href="url à mettre">                                  <!-- ça c'est pour choisir vers quel endroit ça envoie quand on clique dans le carré -->
            <image 
              xlink:href="/assets/Fond_accueil.png"
              clip-path="url(#boxclic3)"
              height="100%" width="99%"
              />                                                    <!-- ça c'est pour choisir l'image qui s'affiche dans le carré -->
          </a>
        </svg>

        <rect id="box" x="0%" y="59%" width="15%" height="7.3%"/>              <!-- ça c'est pour dimensionner et positionner le carré -->
        <svg width="15%" height="7.3%" x="0%" y="59%">                           <!-- ça c'est pour dimensionner et positionner l'image dans le carré -->
          <defs>
            <clipPath id="boxclic4">
              <rect x="2%" y="2%" width="100%" height="100%"/>              <!-- ça c'est pour dimensionner et positionner la zone cliquable dans le carré -->
            </clipPath>
          </defs>
          <a href="url à mettre">                                  <!-- ça c'est pour choisir vers quel endroit ça envoie quand on clique dans le carré -->
            <image 
              xlink:href="/assets/Fond_accueil.png"
              clip-path="url(#boxclic4)"
              height="100%" width="99%"
              />                                                    <!-- ça c'est pour choisir l'image qui s'affiche dans le carré -->
          </a>
        </svg>

        <rect id="box" x="0%" y="80%" width="15%" height="7.3%"/>              <!-- ça c'est pour dimensionner et positionner le carré -->
        <svg width="15%" height="7.3%" x="0%" y="80%">                           <!-- ça c'est pour dimensionner et positionner l'image dans le carré -->
          <defs>
            <clipPath id="boxclic5">
              <rect x="2%" y="2%" width="100%" height="100%"/>              <!-- ça c'est pour dimensionner et positionner la zone cliquable dans le carré -->
            </clipPath>
          </defs>
          <a href="url à mettre">                                  <!-- ça c'est pour choisir vers quel endroit ça envoie quand on clique dans le carré -->
            <image 
              xlink:href="/assets/Fond_accueil.png"
              clip-path="url(#boxclic5)"
              height="100%" width="99%"
              />                                                    <!-- ça c'est pour choisir l'image qui s'affiche dans le carré -->
          </a>
        </svg>

        <rect id="box" x="45%" y="86%" width="15%" height="7.3%"/>              <!-- ça c'est pour dimensionner et positionner le carré -->
        <svg width="15%" height="7.3%" x="45%" y="86%">                           <!-- ça c'est pour dimensionner et positionner l'image dans le carré -->
          <defs>
            <clipPath id="boxclic6">
              <rect x="2%" y="2%" width="100%" height="100%"/>              <!-- ça c'est pour dimensionner et positionner la zone cliquable dans le carré -->
            </clipPath>
          </defs>
          <a href="url à mettre">                                  <!-- ça c'est pour choisir vers quel endroit ça envoie quand on clique dans le carré -->
            <image 
              xlink:href="/assets/Fond_accueil.png"
              clip-path="url(#boxclic6)"
              height="100%" width="99%"
              />                                                    <!-- ça c'est pour choisir l'image qui s'affiche dans le carré -->
          </a>
        </svg>

        <rect id="box" x="84%" y="60%" width="15%" height="7.3%"/>              <!-- ça c'est pour dimensionner et positionner le carré -->
        <svg width="15%" height="7.3%" x="84%" y="60%">                           <!-- ça c'est pour dimensionner et positionner l'image dans le carré -->
          <defs>
            <clipPath id="boxclic7">
              <rect x="2%" y="2%" width="100%" height="100%"/>              <!-- ça c'est pour dimensionner et positionner la zone cliquable dans le carré -->
            </clipPath>
          </defs>
          <a href="url à mettre">                                  <!-- ça c'est pour choisir vers quel endroit ça envoie quand on clique dans le carré -->
            <image 
              xlink:href="/assets/Fond_accueil.png"
              clip-path="url(#boxclic7)"
              height="100%" width="99%"
              />                                                    <!-- ça c'est pour choisir l'image qui s'affiche dans le carré -->
          </a>
        </svg>

        <rect id="box" x="84%" y="48%" width="15%" height="7.3%"/>              <!-- ça c'est pour dimensionner et positionner le carré -->
        <svg width="15%" height="7.3%" x="84%" y="48%">                           <!-- ça c'est pour dimensionner et positionner l'image dans le carré -->
          <defs>
            <clipPath id="boxclic8">
              <rect x="2%" y="2%" width="100%" height="100%"/>              <!-- ça c'est pour dimensionner et positionner la zone cliquable dans le carré -->
            </clipPath>
          </defs>
          <a href="url à mettre">                                  <!-- ça c'est pour choisir vers quel endroit ça envoie quand on clique dans le carré -->
            <image 
              xlink:href="/assets/Fond_accueil.png"
              clip-path="url(#boxclic8)"
              height="100%" width="99%"
              />                                                    <!-- ça c'est pour choisir l'image qui s'affiche dans le carré -->
          </a>
        </svg>

        <rect id="box" x="84%" y="36%" width="15%" height="7.3%"/>              <!-- ça c'est pour dimensionner et positionner le carré -->
        <svg width="15%" height="7.3%" x="84%" y="36%">                           <!-- ça c'est pour dimensionner et positionner l'image dans le carré -->
          <defs>
            <clipPath id="boxclic9">
              <rect x="2%" y="2%" width="100%" height="100%"/>              <!-- ça c'est pour dimensionner et positionner la zone cliquable dans le carré -->
            </clipPath>
          </defs>
          <a href="url à mettre">                                  <!-- ça c'est pour choisir vers quel endroit ça envoie quand on clique dans le carré -->
            <image 
              xlink:href="/assets/Fond_accueil.png"
              clip-path="url(#boxclic9)"
              height="100%" width="99%"
              />                                                    <!-- ça c'est pour choisir l'image qui s'affiche dans le carré -->
          </a>
        </svg>

        <rect id="box" x="84%" y="24%" width="15%" height="7.3%"/>              <!-- ça c'est pour dimensionner et positionner le carré -->
        <svg width="15%" height="7.3%" x="84%" y="24%">                           <!-- ça c'est pour dimensionner et positionner l'image dans le carré -->
          <defs>
            <clipPath id="boxclic10">
              <rect x="2%" y="2%" width="100%" height="100%"/>              <!-- ça c'est pour dimensionner et positionner la zone cliquable dans le carré -->
            </clipPath>
          </defs>
          <a href="url à mettre">                                  <!-- ça c'est pour choisir vers quel endroit ça envoie quand on clique dans le carré -->
            <image 
              xlink:href="/assets/Fond_accueil.png"
              clip-path="url(#boxclic10)"
              height="100%" width="99%"
              />                                                    <!-- ça c'est pour choisir l'image qui s'affiche dans le carré -->
          </a>
        </svg>

      </svg>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button></button>
      <button mat-button></button>
    </mat-card-actions>
  </mat-card>