<div id="sect1" class="container">
    <div style="background: #00000081; padding: 10px;">
        <p style="padding: 10px; color: rgb(255,255,255); font-size:2vw">Bienvenue sur Elden Guide !
        </p>
        <p style="padding: 10px; color: rgb(255,255,255); font-size:1.3vw">
            Ce site est un projet réalisé par des étudiants passionnés, soyez indulgeants. 
            <br/><br/>Cliquez sur le bouton “Equipement” afin de pouvoir voir la liste des armes, armures, talismans et sorts d'Elden Ring.
            <br/><br/>Cliquez sur le bouton “Gestion de build” afin de pouvoir tester des builds sur votre personnage. 
            <br/>Vous pouvez voir en temps réel les différentes statistiques accordées par votre équipement et vous pouvez également rentrer les points de stats donné par vos niveaux.
            <br/><br/>Vous pouvez également créer un compte afin d'enregistrer vos builds.
        </p>
    </div>
</div>

  